.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will distribute the space between Logo, content, and Footer */
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.spacer {
  flex-grow: 1;
}
